*.rpm
/go1.1.1.src.tar.gz
/go1.1.2.src.tar.gz
/go1.2.1.src.tar.gz
/go1.2.2.src.tar.gz
/go1.2.src.tar.gz
/go1.3.1.src.tar.gz
/go1.3.2.src.tar.gz
/go1.3.3.src.tar.gz
/go1.3.src.tar.gz
/go1.3beta2.src.tar.gz
/go1.3rc1.src.tar.gz
/go1.3rc2.src.tar.gz
/go1.4.1.src.tar.gz
/go1.4.2.src.tar.gz
/go1.4.src.tar.gz
/go1.4beta1.src.tar.gz
/go1.4rc1.src.tar.gz
/go1.4rc2.src.tar.gz
/go1.5beta1.src.tar.gz
/golang-19087:a15f344a9efa-xattrs.tar
/go1.5beta2.src.tar.gz
/go1.5beta3.src.tar.gz
/go1.5rc1.src.tar.gz
/go1.5.src.tar.gz
/go1.5.1.src.tar.gz
/go1.7.1.src.tar.gz
/go1.7.3.src.tar.gz
/go1.7.4.src.tar.gz
